html {
  height: 100%;                       
}
body {
  height: 100%; 
  overflow: hidden;
}

#left {
   width: 23%;
   float: left;
   height: 100%;
   overflow-y: auto;
}
.center {
   width:0.25%;
    background-color:#000;
    position:absolute;
    top:0;
    bottom:0;
    left:23.60%;
    height:100%;
    margin-left: 5px;
    
}

#right {
   float: right;
   width: 75%;
   height: 100%;
   overflow-y: auto;
   margin-left:5px;    
}

h3 {
   text-align: center;
   margin-top: 0;
   font-style: normal;
   font-family: sans-serif;
   font-size: 22px
}

.tHeader {
   width: 25%;
   position: fixed;
   background-color: white;
}

.iHeader {
  width: 75%;
  position: fixed;
  background-color: white;
}

#myInput {
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  box-shadow: 1px 2px 2px #ddd;
  border-radius: 2px;
  margin-bottom: 12px;
  margin-left: 5%;
}

#myTable, #myMenu {
  padding-top: 60px;
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  margin-bottom: 4px;
  
}

#myTable th, #myTable td, #myMenu th, #myMenu td {
  text-align: left;
  padding: 8px;
  margin-bottom: 5px;
  margin-top: 5px;
  z-index: 1;
 
}
#myMenu th h4, #myMenu td h4 {
  padding: 0;
  margin: 4px;
   z-index: 1;
}

#myMenu th p, #myMenu td p {
  padding: 0;
  font-size: 12px;
   z-index: 1;
}

#myTable tr, #myMenu tr {
  margin: 4px;
  border-bottom: 1px solid #ddd;
  z-index: 4;
  box-shadow: 1px 2px 2px #ddd;
  border-radius: 2px;
  
  
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

#tInput {
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  box-shadow: 1px 2px 2px #ddd;
  border-radius: 2px;
  margin-bottom: 12px;
  margin-left: 10%;
}

#myMenu tr.header, #myMenu tr:hover {
  background-color: #f1f1f1;
}


.modal, .modalBill {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modalDelete:hover {
   cursor: pointer;
}

.modal-header {
    padding: 12px 16px;
    background-color: blue;
    color: white;
}

.modal-body {
  padding: 5px 16px;
        
}

.modal-footer {
    padding: 12px 16px;
    color: white;
}


/*style the table */
#modalTable {
    border-collapse: collapse;
   padding: 5px;

}
#modalTable th, #modalTable td {
    text-align: left;
   height: 30px;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
#modalTable tr {
  width: 100%; 
}
#modalTotal {
  padding: 8px; 
    color: black;
    width: 100%;
    left: 0;
}

#closeSession {
    border: none; 
    color: black;
    padding: 8px 8px; 
    cursor: pointer; 
    background-color: blue;
    margin-left: 67%; 
}

.billmodal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.billmodal-header {
    padding: 12px 16px;
    background-color: blue;
    color: white;
}

#payBill {
    border: none; 
    color: white; 
    padding: 8px 8px; 
    cursor: pointer; 
    background-color: blue;
    margin-top: 5%;
    margin-left: 47%;
    border-radius: 2px; 
}